.button__page {
  @include page();

  .button_card {
    @include border__card();

    .button__container {
      display: flex;
      justify-content: space-between;

      &.close {
        justify-content: space-around;
      }
    }
  }
}